1、add selector before '*' /* IE7、IE6 */ '_' /* IE6 */

2、IE6 double margin => give float Element box add 'display:inline'; use hack '_'

3、adjacent block element vertical direction margin coincide（相邻块级元素垂直方向外边距重合） 

4、CSS hyperlink protety 'L-V-H-A'

5、sitting chrome less than 12 font size '-webkit-text-size-adjust：none'

6、png24 post image have background, so use png8 post

7、IE8 under nosupport（不支持）'display:inline-block' => add '*display:inline; *zoom:1;'

8、stacking level （background < - z-index < block < float < inline < + z-index < content）
stacking context (position、opacity、filter、transform)

mobile

1、clear transition splash screen => -webkit-transform-style: preserve-3d; -webkit-backface-visibility: hidden;

2、css animation page have splash screen 、lock => use protety 'transform' and 'opacity' , no use 'position' 

3、in mobile click have heightlight => *{-webkit-tap-hightlight-color:ragb(0,0,0,0)}

browser core

chrome、safari => webkit

firefox => gecko

ie => trident

opera => presto

html

1、blank => &nbsp; 、" => &quot; 、> => &gt; 、< => &lt; 、circle c => &copy; & => &amp;













