<!DOCTYPE html>
<html>
<head>
	<title>vue过滤器</title>
</head>
<body>
	<div id="app">
		<input type="search" name="search" v-model="filValue">
		{{lists | filterFn(filValue)}}
		<ul>
			<li v-for="item in lists" >{{item.message}}</li>
		</ul>		
	</div>
	<script src="./js/vue.js"></script>
	<script>
		var vue = new Vue({
			el: '#app',
			data:{
				lists: [
					{message: '文本'},
					{message: 'html代码'},
					{message: '数据输出'},
					{message: 'ES6'}
				],
				filValue: ''
			},
			watch:{
				filValue: function(){
					
				}
			},
			filters: {
				filterFn: function(item, filValue) {

					if (item.indexOf(filValue) > -1) {
						return item
					}

				}
			} 
		})

	</script>
</body>
</html>