@charset "utf-8";
/* reset start */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,img{margin:0; padding:0; -webkit-touch-callout:none}
fieldset,img {border:0 none;}
img{vertical-align:top}
ol,ul,li{list-style:none} 
table{border-collapse:collapse; border-spacing:0;}
input,textarea,button{ -webkit-appearance:none; -moz-appearance:none; -webkit-border-radius:0;}
/*html5 reset*/
header, footer, section, nav, menu, details, hgroup, figure, figcaption, article, aside{margin:0;padding:0;}
a,a:active{ text-decoration:none; outline:none;}
.clearfix:before,.clearfix:after{ content:""; display:table;}.clearfix:after{ clear:both;}.clearfix{ *zoom:1;}
a,input,button,textarea,label,select,span,img{-webkit-tap-highlight-color:rgba(255,0,0,0); -moz-tap-highlight-color:rgba(0, 0, 0, 0)}
/* reset end */
body{font:14px/24px  Arial, "Microsoft YaHei"; color:#282828; background:#EEEEEE; -webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;text-size-adjust:none; min-width:320px; max-width: 750px; margin: 0 auto}
input,button,select,textarea{font-family:"Microsoft YaHei"}
input,button,select,textarea{ outline:none}
html,body{ min-height: 100%}
em{font-style: normal;}

