body,p,ol,ul,li{font:14px/24px  Arial,"Helvetica","STXihei","Droid Sans Fallback","Microsoft YaHei"; color: #4b5d64; padding: 0; margin: 0;}
ol,ul,li{list-style:none;} 
a,a:active,a:hover,a:focus{ text-decoration:none; outline:none;}
h1,h2,h3{margin: 0;}

.lego_wrap{min-width: 1000px;}
.from_wrap{width: 500px; height: 400px; position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto; text-align: center;}
.logo_wrap{width: 100px; height: 100px; display: inline-block; background: #1c2124; border-radius: 50%; line-height: 100px;  }
.logo{font-size: 32px; color: #fff;}
.logo span{font-weight: bold; color:#009c7b; }
.from_wrap .input-group{margin: 30px auto;}
.from_wrap .input-group,
.from_wrap input,
.login_btn{width: 300px; height: 50px; border-radius: 4px;}
.login_btn{display: inline-block; background: #009c7b; color: #fff; line-height: 50px;}
.login_btn:hover,
.login_btn:focus{color: #fff; background: rgba(0,156,123,0.7);}
.from_wrap .bs-example-tooltip .tooltip{left: 300px; top: 15px; white-space: nowrap;}
.form-control:focus{border-color:#009c7b; }
.header{width: 100%; height: 70px; background: #1c2124; color: #fff;}
.header a{color: #fff;}
.header .logo,
.menu,
.user,
.menu li a{line-height: 70px; float: left;}
.menu{display: inline-block; padding-left: 40px; height: 70px;}
.menu li{display: inline-block;}
.menu li a{padding: 0 40px;}
.menu li a:hover{background: #000; }
.user{float: right;}
.user a{padding-left: 10px;}
.user a:hover{color:#009c7b;}
nav,
.content{width: 1000px; margin: 0 auto; position: relative;}
.void_wrap{width: 400px; height: 300px; margin: 150px auto; padding: 90px 0; color: #c1c3c6; border:5px dashed #c1c3c6; text-align: center; font-size: 24px; cursor: pointer;}
.void_wrap p{color: inherit; font-size: 16px; padding-top: 30px;}
.void_wrap:hover{color: #aaa; border-color: #aaa;}
.modal-dialog{top: 300px; z-index: 10000;}
.btn-primary{background: #009c7b;border-color: #009c7b;}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active{background: rgba(0,156,123,0.7);border-color: rgba(0,156,123,0.7);}
.modal-footer{text-align: center;}
.form-group label{font-weight: 400;}
.apply_add{width: 45px; height: 45px; display: block; color:#009c7b; font-size: 20px; text-align: center; line-height: 45px; position: absolute; right: 0; top: 15px; border: 1px solid #009c7b; border-radius: 50%; }
.apply_add:hover,
.apply_add:focus,
.apply_add:active{color: #009c7b;}
.apply_add:hover{ box-shadow: 0 0 4px #009c7b;}
.apply_add:active{box-shadow: 0 0 6px #009c7b;}
.apply_lists{width: 100%; padding-top: 80px; display: flex; flex-wrap: wrap; justify-content: space-between;}
.apply_lists:after{width: 100%;height: 0;margin: 0;display: inline-block;overflow: hidden;content: '';}
.apply_lists li{display: inline-block; vertical-align: middle; border: 1px solid #ddd; box-shadow: 0 0 5px #ddd; border-radius: 5px; margin-bottom: 40px;}
.apply_lists li.last{width:300px;height: 170px;display: inline-block; border:0; box-shadow: none;}
.apply_info,
.apply_img_wrap{width:300px; position: relative;}
.apply_img_wrap{height: 170px; border-bottom: 1px solid #ddd; border-radius: 5px 5px 0 0;}
.apply_img_wrap img{width:100%; height: 100%; display: block;border-radius: 5px 5px 0 0; object-fit: cover; object-position: top;}
.apply_info{padding: 15px 70px 15px 15px;position: relative; min-height: 78px;}
.apply_author{width: 60px; text-align: right; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; position: absolute; right: 15px; top: 25px; color: #009c7b; }
.apply_img_shade{display: none; transition: all 1s ease-in-out; position: absolute; left: 0; right: 0; top: 0; bottom: 0; background: rgba(0,0,0,0.8); padding:35px 50px 0; text-align: center; border-radius: 5px 5px 0 0;}
.apply_img_shade a{display: block;line-height: 40px; margin-bottom: 20px; border: 1px solid #ddd; color: #fff; border-radius: 5px;}
.apply_img_shade a:hover{color: #009c7b; border-color: #009c7b;}
.apply_lists li:hover .apply_img_shade{display: block;}
.apply_title{white-space: nowrap; overflow: hidden; text-overflow: ellipsis; min-height: 24px;}
.page_wrap .apply_img_shade a{margin-top: 30px;}
.setting-btn{position: absolute; bottom: 0; left: 0; right: 0; text-align: center;}
.setting-title{padding-bottom: 10px;}
.tooltip .tooltip-inner{white-space: nowrap; max-width: inherit;}
